@import '~antd/dist/antd.less';

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main-logo {
  vertical-align: middle;
}

.site-layout-content {
  background: #ffffff;
  padding: 24px;
  min-height: 280px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Saarland';
  src: local('Saarland'), url(./fonts/saarland.ttf) format('truetype');
}
